/*@font-face{
    font-family: "metal";
    src: url('MetalMania-regular.ttf');
}*/

// %btn => creer un faux selecteur cad n'apparatrai pas dans le .css mais on peut l'uitiliser dans le code en faisant @extend %btn;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2F2D2D ;
    color: white;
    padding-top: 1px;
    padding-left: 1px;

    .menuEnTete{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-decoration: none;

        li{ 
        // display: inline-block;
            display: flex;
            padding-right: 26px;
            margin-bottom: 20px;
            font-family: sans-serif;
            
            &:nth-child(9){
                padding-left: 480px;  
                height: 20px;
                width: 25px;
            }
        
            &:nth-child(1){
                padding-left: 120px; 
            }
        }
    }
}

footer{
    background-color: #2F2D2D;
    color: white;
    padding-top: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;

    .copyright{
        display: flex;
        padding-left: 50%;
        
    }
    .message2{
        display: flex;
        margin-left: 5%;
    }
}

// li.menu-en-tete{
//     display: inline-block;
//     padding-right: 26px;
//     margin-bottom: 20px;
//     font-family: sans-serif;
// }

// ul.menu-en-tete > li:nth-child(9){
//     padding-left: 480px;    
// }
// ul.menu-en-tete > li:nth-child(1){
//     padding-left: 120px;    
// } transformation du code css en .scss pour se faciliter la vie (transformation en dessous)



// ul {
//     li { faire attetion au classe erreur commise le 22/06/2020 => .boutton { ul {} li{}} ne vas pas car boutton et ul etait les memes

//     }
// }

// .boutton {
//     li {

//     }
// }

.listBoutton{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;

        .boutton {
            display:inline-block;
            border: solid 0px;
            background-color: rgb(10, 119, 158);
            color: white;
            font-size: 27px;
            padding: {
                left: 20px;
                bottom: 15px;
                top: 15px;
                right: 20px;
            }
            margin: {
                right: 2%;
                left: 2%;
            }
            font-family: sans-serif;
            border-radius: 10px;

            &:hover{
                background-color: red;
            }

            &:nth-child(3){
                background-color: orange;
            }
        }
    }
    

.plug-and-play{
    color: white;
    font-size: 27px;
    display: block;
    text-align: center;
    font-family: sans-serif;
}

.start{
    display: inline-block;
    border: 3px solid white;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 27px;
    border-radius: 10px;
    font-family: sans-serif;
    margin-top: 10px;

    padding: {
        right: 15px;
        left: 15px;
        bottom: 20px;
        top: 20px;
    }
}


.fond-bleu{
    background: -webkit-linear-gradient(90deg, rgb(22, 135, 237), rgb(16, 112, 208));
    background: linear-gradient(90deg, rgb(22, 135, 237), rgb(16, 112, 208));
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: -17px;
    display: flex;
    flex-direction: row;
    
    .fondBleuMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .perso{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
    }
}



.fond-gris{
    background-color: #F1F1F1;
    padding-top: 40px;
    padding-bottom: 60px;
}

.entre{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.fond-bleu2{
    background: -webkit-linear-gradient(90deg, rgb(22, 135, 237), rgb(16, 112, 208));
    background: linear-gradient(90deg, rgb(22, 135, 237), rgb(16, 112, 208));
    padding: {
        
        bottom: 50px;
    }
    
    .text{
        color: white;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p{
                padding: {
                    top: 5%;
                    left: 10%;
                    right: 10%;
                }
            }
        }
        
        h2{
            display: flex;
            justify-content: space-evenly;
             padding-top: 5%;
        }
    }
}

.miles{
    padding-left: 230px;
}
.app{
    padding-left: 50px;
}
.spectrum{
    padding-left: 50px;
}
.knowit{
    padding-left: 50px;
}
.hatchery{
    padding-left: 50px;
}
.fwd{
    padding-left: 50px;
}

.product{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
.message1{
    display: flex;
    flex-direction: row;
    left: 1400px; top: 260px;
}



@media screen and (max-width: 700px){
    .perso{
        width: 10%;
        height: auto;
    }
    .fondBleuMenu{
        width: 10%;
        height: auto;
    }


}   