/*@font-face{
    font-family: "metal";
    src: url('MetalMania-regular.ttf');
}*/
header {
  background-color: #2F2D2D;
  color: white;
  padding-top: 1px;
  padding-left: 1px;
}

footer {
  background-color: #2F2D2D;
  color: white;
  padding-top: 10px;
  font-family: sans-serif;
}

.menuEnTete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
}
.menuEnTete li {
  display: flex;
  padding-right: 26px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.menuEnTete li:nth-child(9) {
  padding-left: 480px;
  height: 20px;
  width: 25px;
}
.menuEnTete li:nth-child(1) {
  padding-left: 120px;
}

.listBoutton {
  padding-left: 500px;
  padding-bottom: 100px;
  padding-top: 50px;
}
.listBoutton .boutton {
  display: inline-block;
  border: solid 0px;
  background-color: #0a779e;
  color: white;
  font-size: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: sans-serif;
  border-radius: 10px;
}
.listBoutton .boutton:hover {
  background-color: red;
}
.listBoutton .boutton:nth-child(3) {
  background-color: orange;
}

.plug-and-play {
  color: white;
  font-size: 27px;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

.start {
  display: inline-block;
  border: 3px solid white;
  text-align: center;
  background-color: orange;
  color: white;
  font-size: 27px;
  border-radius: 10px;
  font-family: sans-serif;
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fond-bleu {
  background: -webkit-linear-gradient(90deg, #1687ed, #1070d0);
  background: linear-gradient(90deg, #1687ed, #1070d0);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: -17px;
  display: flex;
  flex-direction: row;
}
.fond-bleu .fondBleuMenu {
  display: flex;
  flex-direction: column;
}
.fond-bleu .perso {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 5%;
}

.fond-gris {
  background-color: #F1F1F1;
  padding-top: 40px;
  padding-bottom: 60px;
}

.entre {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

.fond-bleu2 {
  background: -webkit-linear-gradient(90deg, #1687ed, #1070d0);
  background: linear-gradient(90deg, #1687ed, #1070d0);
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.text {
  color: white;
  font-family: sans-serif;
}

.titre1 {
  font-size: 27px;
  margin-bottom: -5px;
}

.text1 {
  padding-left: 170px;
  padding-right: 20px;
}

.text2 {
  padding-right: 170px;
}

.text3 {
  padding-left: 170px;
  padding-right: 20px;
}

.text4 {
  padding-right: 170px;
}

.miles {
  padding-left: 230px;
}

.app {
  padding-left: 50px;
}

.spectrum {
  padding-left: 50px;
}

.knowit {
  padding-left: 50px;
}

.hatchery {
  padding-left: 50px;
}

.fwd {
  padding-left: 50px;
}

.product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.message1 {
  display: flex;
  flex-direction: row;
  left: 1400px;
  top: 260px;
}

.message2 {
  position: relative;
  top: -50px;
  left: 1400px;
}

.copyright {
  padding-left: 1300px;
  margin-top: -20px;
}

@media screen and (max-width: 700px) {
  .perso {
    width: 10%;
    height: auto;
  }

  .fondBleuMenu {
    width: 10%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
